:root {
  --font-family: 'Montserrat', sans-serif;

  --color-primary: #4362b5;
}

* {
  box-sizing: border-box;
}

body {
  font-family: var(--font-family);
  background: #fff3e2;
  color: var(--color-primary);
  font-style: normal;
}

button {
  cursor: pointer;
}

.btn {
  background: var(--color-primary);
  font-weight: 400;
  font-size: 18px;
  line-height: 122%;
  letter-spacing: -0.01em;
  color: #fff;
}

.secondary-btn {
  border: 1px solid var(--color-primary);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  text-align: center;
}

.wrapper {
  width: 100%;
  padding: 75px 0 0;
}

.header {
  width: 100%;
  display: flex;
  position: fixed;
  top: 0;
  z-index: 100;
  justify-content: center;
  background: radial-gradient(231% 135.8% at 0.9% 2.98%, rgba(205, 205, 205, 0.4) 0%, rgba(255, 255, 255, 0) 100%), #fff3e2;
  box-shadow: 2px 2px 7px 0 rgba(0, 0, 0, 0.12);
}

.nav {
  padding: 0 50px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  width: 100%;
  max-width: 1280px;
}

.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.nav-link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-primary);
  transition: opacity 0.3s ease;
}

.nav-link:hover {
  opacity: 0.5;
}

.toggle-menu {
  display: none;
  width: 21px;
  height: 21px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  position: relative;
  transition: opacity 0.3s ease;
}

.toggle-menu .line {
  display: block;
  width: 100%;
  height: 2px;
  background-color: var(--color-primary);
  transition: transform 0.3s ease;
}

.toggle-menu .line:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
}

.toggle-menu .line:nth-child(2) {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.toggle-menu .line:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
}

.toggle-menu:hover {
  opacity: 0.5;
}

.toggle-menu.active .line:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}

.toggle-menu.active .line:nth-child(2) {
  opacity: 0;
}

.toggle-menu.active .line:nth-child(3) {
  transform: translateY(-10px) rotate(-45deg);
}

.hero {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 88px 181px 30px 37px;
  background: url('../images/hero.png') no-repeat center center;
}

.hero-container {
  display: flex;
  flex-direction: column;
  gap: 334px;
  width: 100%;
}

.hero h1 {
  font-weight: 800;
  font-size: 130px;
  line-height: 70%;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.hero p {
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  letter-spacing: 0.02em;
  max-width: 459px;
  align-self: flex-end;
}

.values {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 50px;
}

.values-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  row-gap: 50px;
}

.values h2 {
  font-weight: 700;
  font-size: 51.33px;
  line-height: 1.77em;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
}

.value-card {
  max-width: 47%;
  width: 100%;
}

.value-card img {
  width: 100%;
  margin-bottom: 13px;
  border-radius: 10px;
}

.value-card p {
  font-weight: 500;
  font-size: 21.88px;
  line-height: 1.4em;
  letter-spacing: 0.02em;
  color: #000000;
}

.merch {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 50px 50px;
}

.merch h2 {
  font-weight: 700;
  font-size: 51.33px;
  line-height: 1.77em;
  letter-spacing: -0.02em;
  margin-bottom: 40px;
}

.merch-container {
  width: 100%;
}

.merch-grid {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.merch-item {
  position: relative;
  border-radius: 4px;
  overflow: hidden;
}

.merch-item.large {
  max-width: 700px;
  width: 100%;
}

.merch-right {
  max-width: 460px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.merch-item.link {
  border: 2px solid var(--color-primary);
  display: flex;
  align-items: center;
  padding: 0 30px;
  justify-content: space-between;
  height: 133px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.merch-item.link:hover {
  background-color: #4362b5;
  color: #fff;
}

.merch-link {
  transition: all 0.3s ease;
}

.merch-item.link:hover .merch-link {
  color: #fff;
}

.merch-item.link:hover .arrow-icon {
  background-color: #fff;
  transition: all 0.3s ease;
}

.merch-item.link:hover .arrow-icon::after {
  border-right: 2px solid #fff;
  border-top: 2px solid #fff;
}

.merch-link {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: 500;
  font-size: 27.33px;
  letter-spacing: -0.02em;
}

.arrow-icon {
  width: 68px;
  height: 2px;
  background-color: var(--color-primary);
  position: relative;
  transition: all 0.3s ease;
}

.arrow-icon::after {
  content: '';
  position: absolute;
  right: 0;
  top: 50%;
  width: 10px;
  height: 10px;
  border-right: 2px solid var(--color-primary);
  border-top: 2px solid var(--color-primary);
  transform: translateY(-50%) rotate(45deg);
  transition: all 0.3s ease;
}

.merch-image {
  width: 100%;
  object-fit: cover;
  mix-blend-mode: multiply;
  height: 100%;
  border-radius: 10px;
}

.footer {
  max-width: 1280px;
  width: 100%;
  margin: 50px auto;
  padding: 0 50px;
}

.footer-container {
  border: 2px solid var(--color-primary);
  border-radius: 10px;
}

.footer-header {
  display: flex;
  justify-content: flex-end;
  gap: 16px;
  align-items: center;
  padding: 13px 26px;
  border-bottom: 2px solid var(--color-primary);
}

.footer-header div {
  width: 21px;
}

.footer-header div:nth-child(1) {
  height: 1px;
  background-color: var(--color-primary);
}

.footer-header div:nth-child(2) {
  height: 21px;
  border: 1px solid var(--color-primary);
}

.footer-header div:nth-child(3) {
  position: relative;
  width: 21px;
}

.footer-header div:nth-child(3)::after {
  content: '';
  position: absolute;
  height: 1px;
  background-color: var(--color-primary);
  width: 100%;
  transform: rotate(45deg);
}

.footer-header div:nth-child(3)::before {
  content: '';
  position: absolute;
  height: 1px;
  background-color: var(--color-primary);
  width: 100%;
  transform: rotate(-45deg);
}

.footer-content {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 58px 50px 23px;
  gap: 40px;
}

.footer-contacts {
  max-width: 335px;
  width: 100%;
  overflow: hidden;
}

.footer-contacts h3 {
  font-weight: 500;
  font-size: 27px;
  letter-spacing: -0.02em;
  margin-bottom: 52px;
}

.footer-menu {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 570px;
  width: 100%;
}

.footer-menu h4 {
  font-weight: 600;
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.footer-form .form-group {
  margin-bottom: 20px;
  height: 64px;
  border: 1px solid rgba(67, 98, 181, 0.41);
  border-radius: 4px;
  background-color: #fff;
  padding: 12px 16px;
}

.footer-form label {
  font-weight: 400;
  font-size: 12px;
  color: #4362b5;
}

.footer-form input {
  width: 100%;
  font-weight: 600;
  font-size: 14px;
  color: var(--color-primary);
  border: none;
  outline: none;
  font-family: var(--font-family);
}

.footer-form input:-internal-autofill-selected {
  background: #fff !important;
}

.footer-form input::placeholder {
  color: var(--color-primary);
}

.footer-form .btn {
  width: 100%;
  height: 48px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-family: var(--font-family);
  transition: opacity 0.3s ease;
}

.footer-form .btn:hover {
  opacity: 0.5;
}

.social-links,
.footer-nav,
.contact-info {
  list-style: none;
  padding: 0;
}

.social-links li,
.footer-nav li,
.contact-info li {
  margin-bottom: 10px;
}

.social-links a,
.footer-nav a,
.contact-info a {
  text-decoration: none;
  color: var(--color-primary);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.364em;
  letter-spacing: -0.02em;
  transition: opacity 0.3s ease;
  text-transform: capitalize;
}

.social-links a:hover,
.footer-nav a:hover,
.contact-info a:hover {
  opacity: 0.5;
}

.contact-info a {
  text-transform: none;
}

.contact-info li {
  color: var(--color-primary);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.364em;
}

.research {
  padding: 40px 50px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.research h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 50px;
  letter-spacing: -0.02em;
  color: #4362b5;
}

.research-item {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.research-item img {
  width: 100%;
  border-radius: 10px;
}

.research-content {
  position: relative;
  transition: filter 0.5s ease;
}

.research-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.research-item-content {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px 50px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.research-item-content h3 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  color: #fff;
}

.research-item-content a {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 31px;
  text-decoration: none;
  letter-spacing: -0.01em;
  color: #fff;
  border: 2px solid #fff;
  padding: 11px 47px;
  transition: all 0.3s ease;
}

.research-item-content a:hover {
  background-color: #fff;
  color: #000;
}
.blur {
  filter: blur(4px);
}

.research-page {
  padding: 40px 50px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}
.research-page-content {
  display: flex;
  gap: 20px;
  position: relative;
}
.research-page h2 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 50px;
  color: #4362b5;
  margin-bottom: 50px;
}
.research-page img {
  width: 100%;
  margin-bottom: 30px;
}
.research-img.mobile {
  display: none;
}

.research-page p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #4362b5;
  margin: 0 0 30px;
}
.research-page p.mobile {
  display: none;
}
.research-left {
  max-width: 40%;
}

.research-page.revert .research-left {
  max-width: 60%;
}

.research-page.revert .research-right {
  max-width: 40%;
}

.research-page.revert .research-link {
  right: 0;
  bottom: 0;
}

.research-link {
  text-decoration: none;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 15px;
  line-height: 242%;
  letter-spacing: -0.02em;
  color: #4362b5;
  display: flex;
  align-items: center;
  gap: 10px;
  border: 0.8px solid #4362b5;
  height: 48px;
  position: absolute;
  bottom: 30px;
  max-width: 180px;
  padding: 0 10px;
  width: 100%;
  justify-content: space-between;
  transition: all 0.3s ease;
}

.research-link:hover {
  background-color: #4362b5;
  color: #fff;
}

.research-link:hover .research-arrow-icon {
  background-color: #fff;
}

.research-link:hover .research-arrow-icon::after {
  border-right: 1px solid #fff;
  border-top: 1px solid #fff;
}

.research-arrow-icon {
  width: 23px;
  height: 1px;
  background-color: var(--color-primary);
  position: relative;
  transition: all 0.3s ease;
}

.research-arrow-icon::after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 5px;
  height: 5px;
  border-right: 1px solid var(--color-primary);
  border-top: 1px solid var(--color-primary);
  transform: translateY(-50%) rotate(-130deg);
  transition: all 0.3s ease;
}

.news {
  padding: 40px 50px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.news h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 30px;
  letter-spacing: -0.02em;
  color: #4362b5;
  margin-bottom: 30px;
}

.news-content {
  display: flex;
  flex-direction: column;
}

.news-item {
  display: flex;
}

.news-item:first-child {
  border: 3.63px solid #4362b5;
}

.news-item:nth-child(2) .news-item-content {
  border: 3.63px solid #4362b5;
  border-top: none;
}

.news-item-content {
  padding: 50px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.news-item-content h3 {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 30px;
  color: #4362b5;
}

.news-item-content p {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 20px;
  color: #4362b5;
}

.news-item-content a {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #4362b5;
  border: 1px solid #4362b5;
  padding: 6px 24px;
  height: 32px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.news-item-content a:hover {
  background-color: #4362b5;
  color: #fff;
}

.news-item img {
  width: 100%;
  height: 100%;
  width: 50%;
}

.animated-border {
  overflow: hidden;
  width: 50%;
  flex-shrink: 0;
  position: relative;
}

.animated-border img {
  width: 100%;
}

.border-text {
  position: absolute;
  white-space: nowrap;
  color: #4362b5;
  font-size: 16px;
  font-weight: 500;
  pointer-events: none;
}

.border-text-top {
  top: -2px;
  left: 0;
  width: 100%;
  padding: 5px 0;
  animation: moveLeft 10s linear infinite;
}

.border-text-right {
  top: 0;
  right: -2px;
  height: 100%;
  padding: 5px 0;
  writing-mode: vertical-rl;
  animation: moveUp 10s linear infinite;
}

.border-text-bottom {
  bottom: -2px;
  left: 0;
  width: 100%;
  padding: 5px 0;
  animation: moveRight 10s linear infinite;
}

.border-text-left {
  bottom: 0;
  left: -2px;
  height: 100%;
  padding: 5px 0;
  writing-mode: sideways-lr;
  animation: moveDown 10s linear infinite;
}

@keyframes moveLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes moveRight {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes moveUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }
}

@keyframes moveDown {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(50%);
  }
}

.shop {
  padding: 40px 50px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

.shop h2 {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 50px;
  line-height: 182%;
  letter-spacing: -0.02em;
  color: #4362b5;
}

.shop-content {
  display: flex;
  gap: 20px;
  justify-content: space-between;
}

.shop-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  max-width: 70%;
}

.shop-item {
  width: 100%;
  height: 100%;
  transition: filter 0.5s ease;
}

.shop-content img {
  max-height: 333px;
  object-fit: cover;
  aspect-ratio: 1 / 1;
}

.shop-item img {
  width: 100%;
}

.shop-right {
  display: flex;
  align-items: flex-end;
  height: fit-content;
}
.shop-link {
  max-width: 332px;
  width: 100%;
  position: relative;
}

.shop-link a {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #4362b5;
  border: 2px solid #4362b5;
  padding: 6px 25px;
  text-decoration: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
  transition: all 0.3s ease;
}

.shop-link a:hover {
  background-color: #4362b5;
  color: #fff;
}

.shop-right span {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 57px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #4362b5;
}

.shop-merch-item {
  width: 100%;
  position: relative;
}

.shop-merch-item img {
  max-height: none;
  width: 100%;
}

.shop-merch-item + .shop-right a {
  padding: 6px;
}

.shop-merch-item .btn {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #4362b5;
  border: 1.27px solid #4362b5;
  padding: 7px 30px;
  height: 41px;
  background-color: transparent;
  position: absolute;
  bottom: 3px;
  right: -172px;
  transition: all 0.3s ease;
}

.shop-merch-item .btn:hover {
  background-color: #4362b5;
  color: #fff;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  display: none;
}

.modal-content {
  position: relative;
  width: 100%;
  margin: 0 auto;
  background: #fff3e2;
  max-width: 800px;
}

.modal-top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  border-bottom: 2px solid #4362b5;
  height: 60px;
  padding: 20px;
}

.modal-top div {
  width: 21px;
}

.modal-top div:nth-child(1) {
  height: 1px;
  background-color: var(--color-primary);
}

.modal-top div:nth-child(2) {
  height: 21px;
  border: 1px solid var(--color-primary);
}

.modal-top div:nth-child(3) {
  position: relative;
  width: 21px;
}

.modal-top div:nth-child(3)::after {
  content: '';
  position: absolute;
  height: 1px;
  background-color: var(--color-primary);
  width: 100%;
  transform: rotate(45deg);
}

.modal-top div:nth-child(3)::before {
  content: '';
  position: absolute;
  height: 1px;
  background-color: var(--color-primary);
  width: 100%;
  transform: rotate(-45deg);
}

.modal-main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 40px 20px 60px;
}

.modal h2 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 50px;
  letter-spacing: 0.02em;
  color: #4362b5;
  text-align: center;
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 550px;
}

.modal-form .form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.modal input {
  border: none;
  outline: none;
  background-color: transparent;
}

.form-group {
  border: 1px solid rgba(67, 98, 181, 0.41);
  height: 66px;
  padding: 10px;
  background-color: #fff;
}

.form-group label {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  color: #4362b5;
}

.form-group input {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 16px;
  color: #4362b5;
}

.form-group input::placeholder {
  color: rgba(67, 98, 181, 0.41);
}

.modal .btn {
  height: 48px;
  background: #4362b5;
  width: 100%;
  padding: 14px 21px;
  border: none;
  transition: opacity 0.3s ease;
}

.modal .btn:hover {
  opacity: 0.5;
}

.modal h3 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 31px;
  letter-spacing: -0.02em;
  color: #4362b5;
  margin-bottom: 40px;
}

.modal a {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 13px;
  line-height: 100%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #fff;
  display: block;
  background: #4362b5;
  padding: 9px 13px;
  height: 31px;
  text-decoration: none;
  transition: opacity 0.3s ease;
}

.modal a:hover {
  opacity: 0.5;
}

.modal-form-success {
  display: none;
}

.not-found {
  padding: 40px 50px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  min-height: 60vh;
}

.not-found-item {
  background: #acbbe6;
  border: 3px solid #4362b5;
  width: 60%;
  position: absolute;
  transition: all 0.5s ease-in-out;
  top: 40px;
  left: 50px;
  right: auto;
  bottom: auto;
  transform: translate(0, 0);
  border-radius: 10px;
}

.not-found-item:last-child {
  top: auto;
  left: auto;
  bottom: 40px;
  right: 50px;
  z-index: 5;
  transform: translate(0, 0);
}

.not-found-item:nth-child(2) {
  top: 50%;
  left: 50%;
  bottom: auto;
  right: auto;
  transform: translate(-50%, -50%);
  z-index: 4;
}

.not-found-top {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  border-bottom: 2px solid var(--color-primary);
  height: 60px;
  padding: 20px;
}

.not-found-top div {
  width: 21px;
}

.not-found-top div:nth-child(1) {
  height: 1px;
  background-color: var(--color-primary);
}

.not-found-top div:nth-child(2) {
  height: 21px;
  border: 1px solid var(--color-primary);
}

.not-found-top div:nth-child(3) {
  position: relative;
  width: 21px;
}

.not-found-top div:nth-child(3)::after {
  content: '';
  position: absolute;
  height: 1px;
  background-color: var(--color-primary);
  width: 100%;
  transform: rotate(45deg);
}

.not-found-top div:nth-child(3)::before {
  content: '';
  position: absolute;
  height: 1px;
  background-color: var(--color-primary);
  width: 100%;
  transform: rotate(-45deg);
}

.not-found-content {
  padding: 40px 20px;
}

.not-found-content p {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 48px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: #4362b5;
}

.not-found-content h1 {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 200px;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: rgba(67, 98, 181, 0.75);
}

.not-found-content a {
  border: 2px solid #4362b5;
  padding: 7px 30px;
  height: 49px;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 125%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #4362b5;
  text-decoration: none;
  transition: all 0.3s ease;
}

.not-found-content a:hover {
  background-color: #4362b5;
  color: #acbbe6;
}
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  visibility: hidden;
}

.fade-in.visible {
  visibility: visible;
}

.marquee-text {
  white-space: nowrap;
  animation: marquee 5s linear infinite;
  position: relative;
}

@keyframes marquee {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
